html{
	background-image: url(/mnt/nfs/homes/cbeaurai/Downloads/wallp.png);
	background-image: no-repeat center fixed;
	background-size: cover;
}

.cont{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.bal{
	background-color: red;
	border-radius: 10%;
	width: 200px;
	height: 200px;
}